.Container {
    margin-bottom: 0!important;

    ion-item {
        margin-left: 10vw;
    }

    --ion-background-color: --ion-color-primary;
}


.InputSize {
    margin: 0vh auto;
    width: 75vw;
    position: relative;
}

.CustomButton {
    margin: 3vh auto;
    width: 75vw;
    font-weight: 700;
}